body{
  background-color: rgb(51, 0, 102);
  font-family: "Papyrus";
  text-align: center;
  color: white;
}
h1{
    font-size: 50px;
    font-weight: 1000;
}
.alphabets{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}
.buttons{
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    color: rgb(51,0,102);
    font-size: 14px;
    FONT-WEIGHT: 500;
    font-family: "Lucida Handwriting";
}
